.dropDown {
  margin-top: 2rem;
  display: grid;
  position: relative;
  width: 25%;
  z-index: 9;
}
.dropDown label {
  margin: 10px 0px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 500;
}
.dropDownDefaultValue {
  cursor: pointer;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  background-color: #ffffff;
  position: relative;
  padding: 0.5rem 1.5rem;
  user-select: none;
  border-radius: 0.375rem;
}
.dropDownDefaultValue:active {
  background-color: #cbd5e1; /* slate-300 */
}
.dropDownDefaultValue p {
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
}
.dropDownDefaultValue span {
  position: absolute;
  top: 0.75rem;
  left: 15px;
  font-size: 1.25rem;
  font-weight: 800;
}
.dropDownDefaultValue span svg {
  transform: rotate(90deg);
}
.optionsParent {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  position: absolute;
  width: 100%;
  background-color: #ffffff;
  top: 6.5rem;
  border-radius: 0.375rem;
}
.hideDropDown {
  opacity: 0;
  visibility: hidden;
  transition-property: all;
  transition-timing-function: ease-out;
  transition-duration: 300ms;
}
.showDropDown {
  visibility: visible;
  opacity: 1;
  transition-property: all;
  transition-timing-function: ease-out;
  transition-duration: 300ms;
}
.option {
  user-select: none;
  font-weight: 600;
  padding: 0.75rem 1rem;
  font-size: 17px;
}
.option div {
  font-weight: 600;
  line-height: 26px;
  display: flex;
  gap: 0 5px;
}
.goldTextColor span {
  color: #f79009;
}
.option:hover {
  cursor: pointer;
}
.option:active {
  cursor: pointer;
  background-color: #e2e8f0;
}
